<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	

	<div class="col-xs-12">

		<h4 style="color: blue;">Our girl Bea</h4>

		<span class="" style="" >hello I am “Bea from the Pacific Coast”. I am a real American beauty because I was born here in Oregon. My parents are Charlie and Ginger. My boss says I have my mother’s looks but I am a little stronger. I am very athletic and I can search your soul with my eyes.
		I can be a little shy and timid. When my boss talks to me in a strict tone of voice I put myself on the ground and then I crawl slowly to my boss and roll on my back. He is defenseless when I come to him like that. Then he can’t resist and he has to pet me. When my boss comes into our yard he seems to loose his ability to think logically. I always indicate clearly that I want to play ball but he does not seem to understand. I give him clear signs by starring at the ball on the rack and then at him. That shouldn’t be to difficult to figure, even for a human.
		My favorite playmate is Curt, the bosses son. He taught us hide and seek and tag. Playing with kids is great. I am happy doing just about anything and I am pretty easy going and contempt with my life.

		</span>

	</div>
	

</div>

<div class="row"  style="margin: 1%; background-color: white; padding-bottom: 1%; padding-top: 1%;">
	
<div class="col-xs-12">

	<div class="col-xs-4">
		<img class="img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_bea_01_i.jpg">
	</div>

	<div class="col-xs-4">
		<img class="img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_bea_02_i.jpg">
	</div>

	<div class="col-xs-4">
		<img class="img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_bea_03_i.jpg">
	</div>

</div>

</div>

<div class="row"  style="margin: 1%; background-color: white; padding-bottom: 2%;">
	
<div class="col-xs-12">

		<h5 class="text-center" style="color: blue;">Please click on an image to get more information about your favorite female Landseer.</h5>

		<div class="col-xs-3">
			<span class="text-center">Izzy</span>
			<a ui-sref="izzy"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_caspar_06.jpg"></a>
		</div>

		<div class="col-xs-3">
			<span class="text-center">Bea</span>
			<a ui-sref="bea"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_frederic_01.jpg"></a>
		</div>

		<div class="col-xs-3">
			<span class="text-center">Bluemchen</span>
			<a ui-sref="bluemchen"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_enzo3.jpg"></a>
		</div>

		<div class="col-xs-3">
			<span class="text-center">Angie</span>
			<a ui-sref="angie"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_caspar_06.jpg"></a>
		</div>
		

	</div>

</div>

