<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<h1 class="text-center" style="color: blue;">The Girls</h1>

	<h5 class="text-center" style="color: blue;">Our girls, like our boys, come from different genetic background from Belgium, Denmark and Germany. They are all evaluated and certified by the German Landseer Club. Bea and Bluemchen are Sisters from our B-litter. Their father is Charlie and the mother is Ginger. All of the males and females come from champion bloodlines.</h5>

	<h5 class="text-center" style="color: blue;">Please click on an image to get more information about your favorite male Landseer.</h5>

	<div class="col-xs-12">

		<div class="row">
			
			<div class="col-xs-3">
				<span class="text-center">Izzy</span>
				<a ui-sref="izzy"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_caspar_06.jpg"></a>
			</div>

			<div class="col-xs-3">
			<span class="text-center">Bea</span>
				<a ui-sref="bea"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_frederic_01.jpg"></a>
			</div>

			<div class="col-xs-3">
				<span class="text-center">Bluemchen</span>
				<a ui-sref="bluemchen"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_enzo3.jpg"></a>
			</div>

			<div class="col-xs-3">
				<span class="text-center">Angie</span>
				<a ui-sref="angie"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_caspar_06.jpg"></a>
			</div>
		</div>

	</div>

</div>


