<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<h4 style="padding-left: 1%; color: blue;">Frederick vom Margarethenhof</h4>

	<!-- Large Screen Version -->
		<div class="visible-lg visible-md visible-sm col-xs-8">

			<span class="" style="" >Hi, my name is Frederick vom Margarethenhof. I was born in Rostock, Germany, in October 2012. Izzy and I, we have the same father. They named me Frederick after Frederic the Great, the famous Prussian king. My breeder is a vet who has had Landseers for over 25 years. I came to Oregon as a puppy in January 2013 and I was approved for breeding by the German Landseer Club in October 2014. I am living with Mack, the Newfoundland, on our 5 acre property. Of course there are also some humans around. I would like to mention Rayleen and Kevin, our bosses. They make sure that there is always plenty of food and fresh water available for us. Kevin has impressed Thomas, the Landseer breeder, with a new way to train me. He has bought a remote controlled off road truck. I love to chase that thing. A few times I have caught that truck, but Kevin does not like me to chew on it. That is the downside to it.
			Mack is O.K., but he is a little bit slow. He is also a little intolerant as he gets upset when I bark in his ears. The girl on the picture is Bea.
			Of course I love the water and I am a fantastic swimmer.
			</span>

		</div>

		<div class="visible-lg visible-md visible-sm col-xs-4">
			<img align="right" style="" class=" img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_frederic_01.jpg">
		</div>
	<!-- END Large Screen Version -->


	<!-- Small Screen Version -->
		<div class="visible-xs col-xs-12">
			<img  style="" class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_frederic_01.jpg">
		</div>

		<div class="visible-xs col-xs-12">

			<span class="" style="" >Hi, my name is Frederick vom Margarethenhof. I was born in Rostock, Germany, in October 2012. Izzy and I, we have the same father. They named me Frederick after Frederic the Great, the famous Prussian king. My breeder is a vet who has had Landseers for over 25 years.

			I came to Oregon as a puppy in January 2013 and I was approved for breeding by the German Landseer Club in October 2014. I am living with Mack, the Newfoundland, on our 5 acre property. Of course there are also some humans around. I would like to mention Rayleen and Kevin, our bosses. They make sure that there is always plenty of food and fresh water available for us. Kevin has impressed Thomas, the Landseer breeder, with a new way to train me. He has bought a remote controlled off road truck. I love to chase that thing. A few times I have caught that truck, but Kevin does not like me to chew on it. That is the downside to it.
			Mack is O.K., but he is a little bit slow. He is also a little intolerant as he gets upset when I bark in his ears. The girl on the picture is Bea.
			Of course I love the water and I am a fantastic swimmer.
			</span>

		</div>
	<!-- ENDS Small Screen Version -->


	

</div>

<div class="row"  style="margin: 1%; background-color: white; padding-bottom: 1%; padding-top: 1%;">
	
	<div class="col-xs-12">

		<div class="col-xs-6">
			<img class="img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_frederic_04.jpg">
		</div>
		<div class="col-xs-6">
			<img class="img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_frederic_02.jpg">
		</div>


	</div>

</div>

<div class="row"  style="margin: 1%; background-color: white; padding-bottom: 1%; padding-top: 1%;">
	
	<div class="col-xs-12">

		<div class="col-xs-6">
			<img class="img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_frederic_05.jpg">
		</div>
		<div class="col-xs-6">
			<img class="img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_frederic_06.jpg">
		</div>


	</div>

</div>



<div class="row"  style="margin: 1%; background-color: white; padding-bottom: 2%;">
	
<div class="col-xs-12">

		<h5 class="text-center" style="color: blue;">Please click on an image to get more information about your favorite male Landseer.</h5>

		<div class="col-xs-4">
			<span class="text-center">Casper</span>
			<a ui-sref="casper"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_caspar_06.jpg"></a>
		</div>

		<div class="col-xs-4">
			<span class="text-center">Frederick</span>
			<a ui-sref="frederick"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_frederic_01.jpg"></a>
		</div>

		<div class="col-xs-4">
			<span class="text-center">Enzo</span>
			<a ui-sref="enzo"><img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_enzo3.jpg"></a>
		</div>
		

	</div>

</div>

