<div style="background-color: white;">
		
    <div style="margin: 1%;">
    	<h2 style="color: blue;">
       		About Us & Contacts
    	</h2>
	    <p class="pcl_paragraph_txt">
	       We lived in Europe for 10 years where we started our family. Since the birth of our daughter 18 years ago we have had Continental Landseers. At that time we wanted a great family dog which would bond with kids and be protective of our children. We were so impressed with the caring character of these dogs that after our son was born we got another landseer. These dogs were (and are) such a joy that we decided it would be great fun to breed them at some point. A few years later we moved to Beijing, China, where we put the breeding dream temporarily aside. While we were there we decided that our next home would be on the Pacific Coast in Oregon. We figured this would be a great place to breed dogs. In December 2008 we flew from China with our dogs to the USA.
	    </p>
	    <p class="pcl_paragraph_txt">
	        We are living in Seal Rock, Oregon, within walking distance to the Pacific Ocean. Our dogs thrive here and are living as they should, close to the sea on 2 acres of land. 
	    </p>
	    <p class="pcl_paragraph_txt">
	        Now, finally we are fulfilling our long term plan to breed these wonderful dogs.
	    </p>
	    <p class="pcl_paragraph_txt">
	    </p>
	    <h3 style="color: blue;">
	       Contact details:
	    </h3>
	    <p class="pcl_paragraph_txt">
	       e-mail: 
	       <a href="mailto:tck58@gmx.de">
	          tck58@gmx.de
	       </a>
	       <br/>
	        tel: 541-563 3000
	    </p>

    </div>


	<p style="background-color: white;" class="text-center">

		<img style="display: inline-flex;" class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_kara_02_i.jpg" alt="Kara Knott" name="kara" id="kara"/>
		<img style="display: inline-flex;" class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_kara_i.jpg" alt="Family Friendly Dogs" name="kara" width="206" height="171" id="kara"/>

	</p>

</div>


