<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<div class="col-xs-12">

		<h1 style="color: blue;">History of the Continental Landseer (page 2)</h1>

		<p>
			History of the Continental Landseer (page 2)
			The dog portrayed in this painting is believed to have saved more than 20 people from drowning. It therefore was a member of the humane society.

			Unfortunately by the end of the 1800s the original breed was not recognizable. Breeders attempted to build the breed back up in the beginning of the 1900 but their efforts were thwarted during WW1 when most of the dogs were killed.

			After WW1 some enthusiastic breeders in the Netherlands, Germany and Switzerland began breeding these dogs again. Between 1945 and1960 the Landseer Continental Type was bred as a part of the Newfoundland Clubs in Europe.

			As the Landseer CT had many differences to the Newfoundland dog and the popularity of the Landseer CT grew the breed was recognized as a separate breed by the FCI (World Canine Association) in 1960.

			After the breed was registered and it's popularity continued to soar. The breed spread and can now be seen all over Europe.

			It is a bit confusing that the Landseer Continental Type (CT) is a breed apart from the Newfoundland Landseer dog which is also white and black. However, the Landseer Continental Type is different in many ways to the Newfoundland. In general the Landseers are taller, don’t have a deep breast, have shorter hair, no thick under wool and their long legs make them fast, untiring runners. All in all the Landseer CT is quicker and more responsive than the Newfoundland which makes him easier to train and teach. As their coat is not so dense they dry off quickly and their fur is easier to clean and take care of making them easier to keep outside.

			Our dogs come from championship European bloodlines. We hope to find a lot of friends for these fantastic dogs here in the USA. The landseer Continental Type is elegant, intelligent, robust, healthy, faithful, athletic and protective. Simply stated a great example of man's best friend. <a ui-sref="history" style="color: blue;">(BACK>></a>
		</p>

	</div>

</div>