<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<h1 class="text-center" style="color: blue;">Pacific Coast Landseer Links</h1>

	<br>

	<div class="col-xs-12">

		<ul>
			<li><h3><a style="color: blue;" href="http://www.landseer.de/index.php">'German Landseer Club' , (DLC)</a></h3></li>
			<li><h3><a style="color: blue;" href="http://www.fci.be/uploaded_files/226gb2002_en.doc">Description of the Landseer Continental Type,  Federation Cynologique Internationale</a></h3></li>
			<li><h3><a style="color: blue;" href="http://baxterbook.com/">Childrens book about Baxter, the Landseer, by Terry Kruse</a></h3></li>
		</ul>

	</div>

	

</div>


