<div class="row" style="margin: 1%; background-color: white;">
	
	<div class="row" style="margin: 1%; background-color: white;">

		<div class="col-xs-12">

		<h2>
			<img class="img-responsive pull-right" src="http://www.pacific-coast-landseers.com/images/pcl_schroeder_01_i.jpg" alt="pcl_schroeder" width="173" height="149"/>
			Hi I am Schroeder,
		</h2>

		<p class="pcl_paragraph_txt">
			I am a brown Newfoundland dog, not one of the Landseer ECT’s. I would like to show you how my Landseer friends and I live at our ‘dog ranch’ on the Oregon coast. We are living on two acres which are fully fenced. Thus we can run around and have a lot of exercise. The biggest yard is the Girls’ yard. We all use it and we have a lot of fun there. Unfortunately I can not go there when our girls are in heat….
			<br/>
			A few times a week we are walking on the beach. I think that is even better than the nicest yard.
			<br/>
		</p>

		</div>

	</div>

	<div class="row" style="margin: 1%; background-color: white;">

		<div class="col-xs-6">

			<h2>
				Schroeder's Yard
			</h2>
			<p class="text-center">
				<img class="img-responsive pull-left" src="http://www.pacific-coast-landseers.com/images/pcl_schroeder_yard_i.jpg" alt="Schroeders Yard" width="225" height="170"/>
				Sometimes my boss has visitors and they ‘park’ their horses in my yard. I don’t like that because the horses always have issues when I want to sniff them. 
			</p>

		</div>

		<div class="col-xs-6">

			<h2>
				Sun Room
			</h2>
			<p class="text-center">
				<img class="img-responsive pull-right" src="http://www.pacific-coast-landseers.com/images/pcl_sunroom_02_i.jpg" alt="Sun Room" width="225" height="170"/>
				My boss wanted to use the Sun room for us and the family. Well….. we have taken over. So, consider this the sun room for the dogs.
			</p>

		</div>
		
	</div>

				

	<div class="row" style="margin: 1%; background-color: white;">

		<div class="col-xs-6">
		
			<h2>
				Charlie's Yard
			</h2>
			<p class="text-center">
				<img class="img-responsive pull-left" src="http://www.pacific-coast-landseers.com/images/pcl_charlie_yard_i.jpg" alt="Sun Room" width="225" height="170"/>
				Between Charlie's and my yard there is a fence. We don’t like each other anymore, because of a beautiful female we both liked. My boss says that's like “real life”… Charlie has two dog houses but I have the porch.
			</p>
				
		</div>

		<div class="col-xs-6">

			<h2>
				Sun Room
			</h2>
			<p class="text-center">
				<img class="img-responsive pull-right" src="http://www.pacific-coast-landseers.com/images/pcl_sunroom_01_i.jpg" alt="Schroeders Yard" width="225" height="170"/>
				The sun room has heating. That makes it nice and cozy on the cold and wet days in Oregon.
			</p>
		
		</div>

	</div>

</div>