<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<h1 class="text-center" style="color: blue;">Pacific Coast Landseer Merchandise</h1>

	<br>

	<div class="col-xs-6">

		<h3 class="text-center" style="color: blue;">Hoodies</h3>

		<img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_hoodie_i.jpg">

		<strong>price: 40 US $ (Free Shipping, US only)</strong>
		<strong>sizes: M, L, XL, XXL colors: Dark Red, Dark Green</strong>

	</div>

	<div class="col-xs-6">

		<h3 class="text-center" style="color: blue;">Stickers</h3>

		<img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_sticker_i.jpg">

		<span class="pull-right">Size: 5.5 x 6.5 inches (14 x 16.5 cm)</span><br>

		<strong class="pull-right">price: 10 US $ for 3 stickers (Free Shipping, US only)</strong>

	</div>

	

</div>

<div class="row" style="margin: 1%; background-color: white;">

	
	<div class="col-xs-12">
		<p class="text-center">
		Many people have expressed interest in our Pacific Coast Landseer logo, and have asked if we have merchandise available. So we have printed a limited number of hoodies and some bumper stickers . We will accept orders on a “first come, first serve” basis. If we do not respond within 48 hrs. to your e-mail we have sold out, - sorry ! To order e-mail your name , address, color choice and size to: landseer@gmx.com we will get back to you a.s.a.p. with payment info. We only ship to the US, - sorry !
		</p>
	</div>
	

</div>


