<div class="row">

	<div class="col-xs-12 text-center" style="margin: 0; color: blue; background-color: white;">
			Pacific Coast Landseer movies

			B-litter: After loosing our three years old Landseer Ginger in a c-section, we had to take over the roll of the mother for 8 needy, precious puppies. With the loving care of Izzy we were able to work together to help them all grow into strong, happy, playful, healthy puppies. This shows what can hapen when humans and animals work together as a team and what wonderful results can occur. 
	</div>

</div>


<div class="row">

	<div align="center" class="embed-responsive embed-responsive-16by9">
	    <iframe class="col-xs-8" src="https://www.youtube.com/embed/qjjn8uDolCk" frameborder="0" allowfullscreen></iframe>
	</div>

</div>

<div class="row">

	<div class="col-xs-12 text-center" style="margin: 0; color: blue; background-color: white;">
			Watch our F-litter puppies from their first day to the 12th week. Follow the little puppies from their first steps to their first swim in the lake. 
	</div>

</div>


<div class="row">

	<div align="center" class="embed-responsive embed-responsive-16by9">
	    <iframe class="col-xs-8" src="https://www.youtube.com/embed/Ci0yUmuUyJM" frameborder="0" allowfullscreen></iframe>
	</div>

</div>

<div class="row">

	<div class="col-xs-12 text-center" style="margin: 0; color: blue; background-color: white;">
			Landseers love swimming. Watch Izzy and Bluemchen having a ball in the Pacific Ocean.
	</div>

</div>


<div class="row">

	<div align="center" class="embed-responsive embed-responsive-16by9">
	    <iframe class="col-xs-8" src="https://www.youtube.com/embed/HinvfqbVAdc" frameborder="0" allowfullscreen></iframe>
	</div>

</div>

