<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<div class="col-xs-12">

		<p>
			<h3 style="color: blue;">What a Landseer Needs (page2)</h3> <br>

			<h4 style="color: blue;">Obedience Class</h4>
			Yes, Landseer are big and you have to teach them how to behave in real life. Sure, it is annoying when you visit friends and their Dachshund jumps on your leg but can you imagine what would happen if a grown up Landseer jumps up on everyone that comes for a visit. After a short time no one will want to visit you anymore.
			There are many groups that offer the opportunity for"dog" people to get together. Any new experience is good for the development of your Landseer. The most important thing is to teach him what is important to you. Your puppy has to learn to walk on a leash without pulling, to sit and be patient (especially when its dinner is put in front of it), to stay and come when called. If you can teach your Landseer these things you will be great friends for life.
			<h4 style="color: blue;">In short</h4>
			<strong>before you considering buying such a big dog you should ask yourselves the following questions</strong><br>
			
			<ol>
				<li><strong>Will I have at least one hour a day to take care of my Landseer? Feed him, walk him (not only in sunshine), do water training, brush and clean him, pet him or her as often as possible? Do I want to spend my free time in dog training classes ?</strong></li>
				<li><strong>Is my yard big enough for a Landseer and am I prepared to sacrifice the nice flowerbeds in front of the house ?</strong></li>
				<li><strong>As the Landseers can get up to 14 years old you should ask yourselves if you are prepared to do all the above for these years.</strong></li>
			</ol>
			
			<strong>You answered all the questions with ‘yes’? 
			Then the Landseer is the right dog for you</strong>
			
			<br>
			<a ui-sref="necessities" style="color: blue;">(Back>></a>
		</p>

	</div>

</div>