<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<div class="col-xs-12">

		<h1 class="text-center" style="color: blue;">Pacific Coast Landseers Picture Pinwall</h1>

		<img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_pinwall01.jpg"  />

		<img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_pinwall02.jpg"  />

		<img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_pinwall03.jpg"  />
		
		<img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_pinwall04.jpg"  />

		<img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_pinwall05.jpg"  />
		
		<img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_pinwall06.jpg"  />

		<img class="img-responsive center-block" src="http://www.pacific-coast-landseers.com/images/pcl_pinwall07.jpg"  />

	</div>

</div>

