<div class="row" style="">
<div class="col-xs-8 col-xs-offset-2">

			<button class="btn btn-primary" ui-sref="aLitter">A-Litter</button>
			<button class="btn btn-primary" ui-sref="bLitter">B-Litter</button>
			<button class="btn btn-primary" ui-sref="cLitter">C-Litter</button>
			<button class="btn btn-primary" ui-sref="dLitter">D-Litter</button>
			<button class="btn btn-primary" ui-sref="eLitter">E-Litter</button>
			<button class="btn btn-primary" ui-sref="fLitter">F-Litter</button>
			<button class="btn btn-primary" ui-sref="gLitter">G-Litter</button>

</div>

</div>



<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<h1 class="text-center" style="color: blue;">Puppies</h1>

	<h5 class="text-center" style="color: blue;">The greatest moment for us is the birth of a strong healthy puppy.Over the years we have developed a routine in supporting our females in this phase. After the sad experience with our B-litter we came across the vets at the Oregon State University Vet School who are supporting us with competence and 24/7 availability.</h5>


	

</div>

<div class="row">
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">



</div>
</div>


