<div class="row" style="">
<div class="col-xs-8 col-xs-offset-2">

			<button class="btn btn-primary" ui-sref="aLitter">A-Litter</button>
			<button class="btn btn-primary" ui-sref="bLitter">B-Litter</button>
			<button class="btn btn-primary" ui-sref="cLitter">C-Litter</button>
			<button class="btn btn-primary" ui-sref="dLitter">D-Litter</button>
			<button class="btn btn-primary" ui-sref="eLitter">E-Litter</button>
			<button class="btn btn-primary" ui-sref="fLitter">F-Litter</button>
			<button class="btn btn-primary" ui-sref="gLitter">G-Litter</button>

</div>
</div>
<div class="row" style="">
<div class="col-xs-10 col-xs-offset-1">

			<button class="btn btn-warning" ui-sref="aLitterW1">Week 1</button>
			<button class="btn btn-warning" ui-sref="aLitterW2">Week 2</button>
			<button class="btn btn-warning" ui-sref="aLitterW3">Week 3</button>
			<button class="btn btn-warning" ui-sref="aLitterW4">Week 4</button>
			<button class="btn btn-warning" ui-sref="aLitterW5">Week 5</button>
			<button class="btn btn-warning" ui-sref="aLitterW6">Week 6</button>
			<button class="btn btn-warning" ui-sref="aLitterW7">Week 7</button>
			<button class="btn btn-warning" ui-sref="aLitterW8">Week 8</button>
			<button class="btn btn-warning" ui-sref="aLitterW9">Week 9</button>
			<button class="btn btn-warning" ui-sref="aLitterW30">Week 30</button>


</div>
</div>



<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<h1 class="text-center" style="color: blue;">A-Litter</h1>

	<h5 class="text-center" style="color: blue;">Our first litter was born February 9th, 2010 ( 4 girls and 4 boys) Father: Charlie. Mother: Ginger.</h5>

	<p class="text-center">ll our puppies have been adopted and are living with their new parents now.</p>

	<h3 class="text-center" style="color: blue;">Our Dogs Week 30 and Beyond.</h3>
	

</div>

<div class="row" style="margin: 1%; background-color: white; padding-bottom: 2%;">

	<col class="col-xs-12">
		<img class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_pup_30w_abby.jpg">
	</col>	

	<col class="col-xs-12">
		<img class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_pup_30w_angel.jpg">
	</col>		

	<col class="col-xs-12">
		<img class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_pup_30w_anton.jpg">
	</col>	

	<col class="col-xs-12">
		<img class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_pup_30w_apollo.jpg">
	</col>	

	<col class="col-xs-12">
		<img class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_pup_30w_arnold.jpg">
	</col>	
	<col class="col-xs-12">
		<img class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_pup_30w_athena.jpg">
	</col>	
	<col class="col-xs-12">
		<img class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_pup_30w_aurora.jpg">
	</col>	
	<col class="col-xs-12">
		<img class="center-block img-responsive" src="http://www.pacific-coast-landseers.com/images/pcl_pup_30w_amigo.jpg">
	</col>	

</div>


